<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>-->
    <!--    <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--</settings>-->
    <!--<typeAliases>-->
    <!--    <package name="cn.wechat.pojo"/>-->
    <!--</typeAliases>-->
    <!--=================== 配置分页插件  =======================-->
<!--    <plugins>-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--            <property name="helperDialect" value="mysql" />-->
<!--            &lt;!&ndash; 分页参数合理化 &ndash;&gt;-->
<!--            <property name="reasonable" value="true" />-->
<!--        </plugin>-->
<!--    </plugins>-->
</configuration>

